body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
}
:root {
  --dark: #2e2f42;
  --text: #434455;
  --primary-brand: #4d5ae5;
  --light: #f4f4fd;
  --white: #fff;
  --link-active: #404bbf;
}
.logo {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  color: var(--dark);
  line-height: 1.3125;
  letter-spacing: 0.03375;
  text-transform: uppercase;
}
.web-logo {
  color: var(--primary-brand);
}

.no-link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.contact-links {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--text);
}
.menu-nav {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text);
}

.hero {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}
.hero-header {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  width: 496px;
  height: 120px;
}
.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  font-family: Roboto;
  font-weight: 500;
}
